<p>
  buyers-component works!
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Menu</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-light" *ngFor="let buyer of buyers ">
    <td>{{buyer.firstName}}</td>
    <td>{{buyer.lastName}}</td>
    <td>{{buyer.email}}</td>
    <td><button class="btn btn-danger" (click)="removeBuyer(buyer)">Delete</button></td>
  </tr>
  </tbody>
</table>
